In [10]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
pd.read_csv('aaa.csv',header=-1)

                                                   0
0  234324:1 32432:1 34324532:1 2342354:1 432432:1...
1  213213211:1 23432432:1 4326543:1 5345354:1 324...
2                435324:1 234234:1 324324:1 234324:1

In [7]:
pd.read_csv('data01.csv')

    name  age  score
0    joe   18     80
1  susan   19     85
2  merry   20     90
3  black   21     95

In [9]:
pd.read_clipboard('data2.txt')

d:\python\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

Empty DataFrame
Columns: [pd.read_csv('data01.csv')]
Index: []

In [15]:
ser1 = np.array([1,2,3,np.NaN])
serr = Series(ser1) 
serr

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [20]:
serr1 = pd.Series(np.array([1,2,3,np.NaN]))
print(serr1.dtype)
print(serr1)
print(serr1.values)
print(serr1.index)

float64
0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64
[ 1.  2.  3. nan]
RangeIndex(start=0, stop=4, step=1)

In [23]:
# 设置索引
serr1.index=['a','b','c','d']
serr1

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [25]:
serr2 = pd.Series(np.array([1,2,3,4]),dtype=np.int,index=['a','b','c','d'])
print(serr2)

a    1
b    2
c    3
d    4
dtype: int32

In [28]:
### 通过字典的方法取值
ser3 = pd.Series({'aa':1,'bb':2,'cc':3})

In [35]:
### 获取 series
print(ser3['aa'])
print(ser3[1])
print(ser3[0])
print(ser3[0:2])
print(ser3['aa':'cc'])

1
2
1
aa    1
bb    2
dtype: int64
aa    1
bb    2
cc    3
dtype: int64

#### 对Series 进行操作

In [37]:
ser4 = pd.Series({'a':1,'b':2,'c':3})
print(ser4[ser4>2])
print(ser4*10)
print(ser4+10)
print(ser4/10)

c    3
dtype: int64
a    10
b    20
c    30
dtype: int64
a    11
b    12
c    13
dtype: int64
a    0.1
b    0.2
c    0.3
dtype: float64

In [38]:
np.exp(ser4)

a     2.718282
b     7.389056
c    20.085537
dtype: float64

In [39]:
np.fabs(ser4)

a    1.0
b    2.0
c    3.0
dtype: float64

In [41]:
### 确失值处理
arr = pd.Series({'a':10,'b':11,'c':12})
arr

a    10
b    11
c    12
dtype: int64

In [42]:
arr1 = pd.Series(arr,index=['a','b','c','d'])
arr1

a    10.0
b    11.0
c    12.0
d     NaN
dtype: float64

In [52]:
ser5 = arr1[pd.isnull(arr1)]  #  找出 缺失的值
ser5
arr1[pd.notnull(arr1)]  #    选取出不是缺失的值

a    10.0
b    11.0
c    12.0
dtype: float64

In [53]:
arr1['e']=5
arr1

a    10.0
b    11.0
c    12.0
d     NaN
e     5.0
dtype: float64

### series自动对齐

In [57]:
ser6 = pd.Series({'a':1,'b':2,'c':3})
ser7 = pd.Series({'a':2,'e':5,'t':3})
print(ser6+ser7)
print(ser6*ser7)

a    3.0
b    NaN
c    NaN
e    NaN
t    NaN
dtype: float64
a    2.0
b    NaN
c    NaN
e    NaN
t    NaN
dtype: float64

### Series对象本身以及索引都具有一个name属性，默认为空，根据需要可以进行赋值操作

In [75]:
ser6 = pd.Series({'a':1,'b':2,'c':3,'d':np.NaN})
ser6.name='Ha'
ser6.index.name='index'    #给index赋一个名字
ser6

index
a    1.0
b    2.0
c    3.0
d    NaN
Name: Ha, dtype: float64

In [ ]:
##